@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne-Bold";
  src: url("./assets/fonts/Söhne-Dreiviertelfett.otf");
}

@font-face {
  font-family: "Sohne-SemiBold";
  src: url("./assets/fonts/Söhne-Halbfett.otf");
}

@font-face {
  font-family: "Sohne-Regular";
  src: url("./assets/fonts/Söhne-Kräftig.otf");
}

@font-face {
  font-family: "Sohne-Light";
  src: url("./assets/fonts/Söhne-Leicht.otf");
}
